/*
Copyright (c) 2003-2013, CKSource - Frederico Knabben. All rights reserved.
For licensing, see LICENSE.md or http://ckeditor.com/license
*/

/*
elementspath.css (part of editor.css)
=======================================

This file styles the "Elements Path", whith is the list of element names
present at the the bottom bar of the CKEditor interface.

The following is a visual representation of its main elements:

+-- .cke_path ---------------------------------------------------------------+
| +-- .cke_path_item ----+ +-- .cke_path_item ----+ +-- .cke_path_empty ---+ |
| |                      | |                      | |                      | |
| +----------------------+ +----------------------+ +----------------------+ |
+----------------------------------------------------------------------------+
*/

/* The box that holds the entire elements path. */
.cke_path
{
	margin-top: 5px;
	float: left;
}

/* Each item of the elements path. */
.cke_path_item,
/* Empty element available at the end of the elements path, to help us keeping
   the proper box size when the elements path is empty. */
.cke_path_empty
{
	display: inline-block;
	float: left;
	padding: 1px 4px 0;
	color: #60676a;
	cursor: default;
	text-decoration: none;
	outline: 0;
	border: 0;
}

.cke_rtl .cke_path,
.cke_rtl .cke_path_item,
.cke_rtl .cke_path_empty
{
	float: right;
}

/* The items are <a> elements, so we define its hover states here. */
a.cke_path_item:hover,
a.cke_path_item:focus,
a.cke_path_item:active
{
	background-color: #efefef;
	opacity: 0.7;
	color: #000;
}
