* {
    box-sizing: border-box;
}
body {
    background-color: #f2f3f6;
    font-family: "Roboto", sans-serif;
    position: relative;
}
.clear {
    clear: both;
}
.log {
    width: 400px;
    /* margin: 5% auto; */
    background-color: #fff;
    padding: 30px 0;
    box-shadow: 0 0.125rem 0.625rem rgba(90, 97, 105, 0.12);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
}
.log h2 {
    text-align: center;
    color: #f64546;
    font-weight: bold;
    font-size: 26px;
    margin-bottom: 50px;
}
.log .input-cont {
    position: relative;
    margin: 0 50px 60px;
}
.log .input-cont:last-of-type {
    margin-bottom: 30px;
}
.log .input-cont input {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 40px;
    outline: none;
    color: #212121;
    font-size: 16px;
    font-weight: 400;
    background: none;
    border: none;
}
.log .input-cont input:focus {
    outline: none;
}
.log .input-cont label {
    position: absolute;
    color: #948c8c;
    top: 0;
    left: 0;
    line-height: 40px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.log .input-cont input:focus + label {
    margin-top: -30px;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
    color: #bdbdbd;
}
.log .border1,
.log .border2 {
    position: absolute;
    height: 1px;
    background-color: #9e9e9e;
    left: 0;
    bottom: 0;
    width: 100%;
}
.log .border1::after,
.log .border1::before,
.log .border2::after,
.log .border2::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 0;
    height: 2px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.log .border1::after,
.log .border2::after {
    right: 50%;
    background-color: #f64546;
}
.log .border1::before,
.log .border2::before {
    left: 50%;
    background-color: #f64546;
}
.log .input-cont input:focus ~ .border1::after,
.log .input-cont input:focus ~ .border1::before,
.log .input-cont input:focus ~ .border2::after,
.log .input-cont input:focus ~ .border2::before {
    width: 50%;
}
.log .check,
.log a {
    float: left;
    width: calc(50% - 50px);
    display: block;
    font-size: 12px;
    margin-bottom: 30px;
}

.log .check {
    margin-left: 50px;
}

.log a {
    text-align: right;
    text-decoration: none;
    color: #f64546;
}

.log a:hover {
    text-decoration: underline;
    color: #f00;
}

.log form input[type="submit"] {
    display: block;
    margin: 0 auto 20px;
    border: 2px solid transparent;
    padding: 10px 35px;
    font-size: 16px;
    cursor: pointer;
    color: #f64546;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: all 0.5s;
}

.log form input[type="submit"]:focus {
    outline: none;
}

.log form input[type="submit"]:hover {
    border: 2px solid #f64546;
}

input[type="text"]::placeholder {
    font-size: 16px;
}
.isInvalid {
    color: #f64546;
    text-align: center;
    display: block;
    margin: 0 auto;
}
