form {
  margin-top: 20px;
}

select {
  width: 300px;
}
/* table tr th{
    text-align: center;
} */
#imageData{
    display: flex;
    flex-wrap: wrap;
}
#imageData .image{
    margin: 0 5px;
}
#imageData .image:nth-child(1){
    margin: 0 5px 0 0;
}
.chosen-container-multi .chosen-choices{
    height: auto;
    padding: 0.4375rem 0.75rem;
    font-size: 0.8125rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #e1e5eb;
    font-weight: 300;
    will-change: border-color, box-shadow;
    border-radius: 0.25rem;
    box-shadow: none;
    transition: box-shadow 250ms cubic-bezier(0.27, 0.01, 0.38, 1.06), border 250ms cubic-bezier(0.27, 0.01, 0.38, 1.06);
    background-image : unset;
    padding: 0;
}
.chosen-choices{
    height: 35px !important;
    display: flex;
    padding:  0 0.75rem !important;
    align-items: center;
}
.mx--15{
    margin: 0 -15px !important;
}
