.container{
    max-width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.tabset > input[type="radio"] {
  position: absolute;
  left: -200vw;
}

.tabset .tab-panel {
  display: none;
}

.tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
.tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
.tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
.tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
.tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
.tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) {
  display: block;
}

.tabset > label {
  position: relative;
  display: inline-block;
  padding:6px 10px;
  border: 1px solid transparent;
  border-bottom: 0;
  cursor: pointer;
  font-weight: 600;
  background-color:#ed3c40;
	color:#fff;
	font-size:14px;
  background-color: transparent;
  color: #000;
}

.tabset > label:hover,{
    color: #000;
	background-color:green;
}

.tabset > label:hover,
.tabset > input:focus + label {
  color: #000;
	background-color:#fff;
}

.tabset > label:hover::after,
.tabset > input:focus + label::after,
.tabset > input:checked + label::after {
  background: #06c;
}

.tabset > input:checked + label {
  border-color: #fff;
  border-bottom: 2px solid red;
  margin-bottom: -1px;
	color:#000;
}

.tab-panel {
  padding: 30px 0;
}

.tabset {
  max-width: 65em;
}

#tab_prpg .tab-pane{
	padding-left:0 !important;
	padding-right:0 !important;
	padding-top:0 !important;
}







.hover img{
  position: relative;
  overflow: hidden;
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:rgba(0,0,0,0.5);
  opacity: 0;
  transition: all 0.5s;
  overflow: hidden;
}

.hover:hover .overlay{
  opacity: 1;
}

.img-gallery{
  display: flex;
}

.img-gallery img{
  width:100%;
  height: auto;
}

.int1{
  display: block;
  margin-left: 10px;
  width:48%;
}

.int1 img{
  display: block;
  width: 100%;
  height: auto;
}

.int1 img:nth-child(2){
  margin: 10px 0;
}

.int2{
  display: inline-flex;
  margin-top:10px;
}

.int2 img{
  width: 33%;
}

.int2 img:nth-child(2){
  margin: 0 10px ;
}

.mt-10{
  margin-top: 5px;
}

.pl-10{
  padding-left: 5px;
}

.pr-10{
  padding-right: 5px;
}

@media(max-width: 767px){
  .mt-10{
  margin-top: 5px;
}

.pl-10{
  padding-left: 15px;
}

.pr-10{
  padding-right: 15px;
}
}

  

